#footer
  .container.text-center
    div © 2014 Company, Inc.
    div
      strong Sanger App
      |  Project ·
      |  Created by
      a(href='https://github.com/ohadpartuck/')  Ohad Partuck
    div
      | Code licensed under&nbsp;
      a(href='https://github.com/ohadpartuck/sanger_com') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/ohadpartuck/sanger_com/issues') Issues
      | ·&nbsp;
      a(href='/contact') Contact Us